# x. Model Inference

Name : San Gabriel Vanness Kenrick Erwi

Batch : HCK-021

# Import Libraries

In [1]:
import pickle
import pandas as pd

# Load Files

In [2]:
# Open the model
with open('deployment/model.pkl', 'rb') as file:
  model = pickle.load(file)
# Open the encoder
with open('deployment/encoder.pkl', 'rb') as file:
  encoder = pickle.load(file)

# Inferencing

In [3]:
# Make data
data={ 
        'person_age' : [21, 50],
        'person_income' : [5000, 50000],
        'person_home_ownership' : ['RENT', 'OWN'],
        'person_emp_length' : [1, 10],
        'loan_intent' : ['EDUCATION', 'MEDICAL'],
        'loan_grade' : ['C', 'A'],
        'loan_amnt' : [5000, 20000],
        'loan_int_rate' : [10.5, 6],
        'loan_percent_income' : [1, 0.6],
        'cb_person_default_on_file' : ['Y', 'N'],
        'cb_person_cred_hist_length' : [4, 2]
       }
# Make dataframe
data_inf = pd.DataFrame(data)
# Show data
data_inf

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,21,5000,RENT,1,EDUCATION,C,5000,10.5,1.0,Y,4
1,50,50000,OWN,10,MEDICAL,A,20000,6.0,0.6,N,2

In [4]:
# Encoding using encoder
data_inf['cb_person_default_on_file'] = encoder.transform(data_inf['cb_person_default_on_file'])

In [5]:
# Predict using model
y_pred_inf = model.predict(data_inf)
y_pred_inf

array([1, 0], dtype=int64)